.chat-screen{
    display: flex;
    width:100%;
    height: 83.8vh;
}

.half-screen{
    width: 1000%;
    border: 1px solid #ccc;
    border-top: 0px;

}

.chat-heads{
    width: 25%;
    background-color:rgb(66, 65, 65);
    border: 1px solid #ccc;
    color: white;
}

